<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JS调用OCMethond(相机和相册).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75BA6E4D1DBD8EA3003FE7F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75BA6E661DBD8EA3003FE7F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75BA6E711DBD8EA3003FE7F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
